In [40]:
import lltk

In [41]:
from aws import *

In [43]:
lltk.show()

| name                | desc                                                                                                                                                                      | license                                                                     | metadata                                                                              | freqs                                                                              | txt                                                                           | xml                                                                    | raw                                                                    |
|:--------------------|:--------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:----------------------------------------------------------------------------|:--------------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------|:------------------------------------------------------------------------------|:-----------------------------------------------------------------------|:-----------------------------------------------------------------------|
| ARTFL               | [American and French Research on the Treasury of the French Language](https://artfl-project.uchicago.edu)                                                                 | Academic                                                                    | ‚òÇÔ∏è                                                                                     | ‚òÇÔ∏è                                                                                  |                                                                               |                                                                        |                                                                        |
| BPO                 | [British Periodicals Online](https://proquest.libguides.com/britishperiodicals)                                                                                           | Commercial                                                                  | ‚òÇÔ∏è                                                                                     |                                                                                    |                                                                               |                                                                        | ‚òÇÔ∏è                                                                      |
| CLMET               | [Corpus of Late Modern English Texts](https://perswww.kuleuven.be/~u0044428/clmet3_0.htm)                                                                                 | [Academic](https://ota.bodleian.ox.ac.uk/repository/xmlui/page/licence-ota) | [üåû](https://www.dropbox.com/s/m1jxj45al7b17cv/clmet_metadata.zip?dl=1)               | [üåû](https://www.dropbox.com/s/lnvwnbzskvqsu9p/clmet_freqs.zip?dl=1)               | ‚òÇÔ∏è                                                                             | ‚òÇÔ∏è                                                                      |                                                                        |
| COHA                | [Corpus of Historical American English](https://www.english-corpora.org/coha/)                                                                                            | Commercial                                                                  | ‚òÇÔ∏è                                                                                     | ‚òÇÔ∏è                                                                                  | ‚òÇÔ∏è                                                                             |                                                                        | ‚òÇÔ∏è                                                                      |
| CanonFiction        | Long history of fiction (Chadwyck, MarkMark, misc.)                                                                                                                       | Mixed                                                                       | [üåû](https://www.dropbox.com/s/1bmvz17pcjpqnab/canon_fiction_metadata.zip?dl=1)       | [üåû](https://www.dropbox.com/s/i5byh4cxmo5x3pr/canon_fiction_freqs.zip?dl=1)       | ‚òÇÔ∏è                                                                             |                                                                        |                                                                        |
| Chadwyck            | [Chadwyck-Healey Fiction Collections](http://collections.chadwyck.co.uk/marketing/list_of_all.jsp)                                                                        | Mixed                                                                       | [üåû](https://www.dropbox.com/s/byqbi8sik255469/chadwyck_metadata.zip?dl=1)            | [üåû](https://www.dropbox.com/s/syluxyz1mcx5495/chadwyck_freqs.zip?dl=1)            | ‚òÇÔ∏è                                                                             | ‚òÇÔ∏è                                                                      | ‚òÇÔ∏è                                                                      |
| ChadwyckDrama       | [Chadwyck-Healey Drama Collections](http://collections.chadwyck.co.uk/marketing/list_of_all.jsp)                                                                          | Mixed                                                                       | ‚òÇÔ∏è                                                                                     | ‚òÇÔ∏è                                                                                  | ‚òÇÔ∏è                                                                             | ‚òÇÔ∏è                                                                      | ‚òÇÔ∏è                                                                      |
| ChadwyckPoetry      | [Chadwyck-Healey Poetry Collections](http://collections.chadwyck.co.uk/marketing/list_of_all.jsp)                                                                         | Mixed                                                                       | ‚òÇÔ∏è                                                                                     | ‚òÇÔ∏è                                                                                  | ‚òÇÔ∏è                                                                             | ‚òÇÔ∏è                                                                      | ‚òÇÔ∏è                                                                      |
| Chicago             | [U of Chicago Corpus of C20 Novels](https://textual-optics-lab.uchicago.edu/us_novel_corpus)                                                                              | Academic                                                                    | ‚úì                                                                                     | ‚úì                                                                                  | ‚òÇÔ∏è                                                                             |                                                                        |                                                                        |
| DTA                 | [Deutsches Text Archiv](http://www.deutschestextarchiv.de)                                                                                                                | [Free](https://creativecommons.org/licenses/by-sa/4.0/)                     | [üåû](https://www.dropbox.com/s/294h2suvtu6sing/dta_metadata.zip?dl=1)                 | [üåû](https://www.dropbox.com/s/nb1u0e77ng2d5mh/dta_freqs.zip?dl=1)                 | [üåû](https://www.dropbox.com/s/8ez1tpa7awfb100/dta_txt.zip?dl=1)              | [üåû](https://www.dropbox.com/s/jy0o1cy37wioqqv/dta_xml.zip?dl=1)       | [üåû](http://media.dwds.de/dta/download/dta_komplett_2019-06-05.zip)    |
| DialNarr            | [Dialogue and Narration separated in Chadwyck-Healey Novels](https://doi.org/10.1093/llc/fqx031)                                                                          | Academic                                                                    | [üåû](https://www.dropbox.com/s/jw53k1mba6eumna/dialnarr_metadata.zip?dl=1)            | [üåû](https://www.dropbox.com/s/rgduzqatl4j0x5s/dialnarr_freqs.zip?dl=1)            | ‚òÇÔ∏è                                                                             |                                                                        |                                                                        |
| ECCO                | [Eighteenth Century Collections Online](https://www.gale.com/intl/primary-sources/eighteenth-century-collections-online)                                                  | Commercial                                                                  | ‚òÇÔ∏è                                                                                     | ‚òÇÔ∏è                                                                                  | ‚òÇÔ∏è                                                                             | ‚òÇÔ∏è                                                                      | ‚òÇÔ∏è                                                                      |
| ECCO_TCP            | [ECCO (Text Creation Partnership)](https://textcreationpartnership.org/tcp-texts/ecco-tcp-eighteenth-century-collections-online/)                                         | Free                                                                        | [üåû](https://www.dropbox.com/s/xh991n4sohulczb/ecco_tcp_metadata.zip?dl=1)            | [üåû](https://www.dropbox.com/s/sdf5pdyifnrulyk/ecco_tcp_freqs.zip?dl=1)            | [üåû](https://www.dropbox.com/s/8sa4f6yqpz6ku3d/ecco_tcp_txt.zip?dl=1)         | [üåû](https://www.dropbox.com/s/vtv2iw7ujtivqss/ecco_tcp_xml.zip?dl=1)  | [üåû](https://www.dropbox.com/s/aubdaixvc59d8o9/ecco_tcp_raw.zip?dl=1)  |
| EEBO_TCP            | [Early English Books Online (curated by the Text Creation Partnership)](https://textcreationpartnership.org/tcp-texts/eebo-tcp-early-english-books-online/)               | Free                                                                        | [üåû](https://www.dropbox.com/s/th2i7jvuxksb0ma/eebo_tcp_metadata.zip?dl=1)            | [üåû](https://www.dropbox.com/s/n2oocs233wh5edo/eebo_tcp_freqs.zip?dl=1)            | [üåû](https://www.dropbox.com/s/otgqbs0vdli3gvb/eebo_tcp_txt.zip?dl=1)         | [üåû](https://www.dropbox.com/s/1wui9qjhkzy8fnm/eebo_tcp_xml.zip?dl=1)  |                                                                        |
| ESTC                | [English Short Title Catalogue](http://estc.ucr.edu/)                                                                                                                     | Academic                                                                    | ‚òÇÔ∏è                                                                                     |                                                                                    |                                                                               |                                                                        |                                                                        |
| EnglishDialogues    | [A Corpus of English Dialogues, 1560-1760](https://ota.bodleian.ox.ac.uk/repository/xmlui/handle/20.500.12024/2507)                                                       | [Academic](https://ota.bodleian.ox.ac.uk/repository/xmlui/page/licence-ota) | [üåû](https://www.dropbox.com/s/lcudgwmxdpspsc9/dialogues_metadata.zip?dl=1)           | [üåû](https://www.dropbox.com/s/tji67pv89e61wd6/dialogues_freqs.zip?dl=1)           |                                                                               | [üåû](https://www.dropbox.com/s/u07u3mrrom3i9f5/dialogues_xml.zip?dl=1) |                                                                        |
| EvansTCP            | [Early American Fiction](https://textcreationpartnership.org/tcp-texts/evans-tcp-evans-early-american-imprints/)                                                          | Free                                                                        | [üåû](https://www.dropbox.com/s/jr1j9i7wbz5uh0f/evans_tcp_metadata.zip?dl=1)           | [üåû](https://www.dropbox.com/s/4r426a5f6jk3tq8/evans_tcp_freqs.zip?dl=1)           | [üåû](https://www.dropbox.com/s/ezen3zxyt9hzxxp/evans_tcp_txt.zip?dl=1)        | [üåû](https://www.dropbox.com/s/yg7hjf536klg04c/evans_tcp_xml.zip?dl=1) | [üåû](https://www.dropbox.com/s/05qtu8r2xejqpkh/evans_tcp_raw.zip?dl=1) |
| GaleAmericanFiction | [Gale American Fiction, 1774-1920](https://www.gale.com/c/american-fiction-1774-1920)                                                                                     | Academic                                                                    | [üåû](https://www.dropbox.com/s/9ysabqrrx05832u/gale_amfic_metadata.zip?dl=1)          | [üåû](https://www.dropbox.com/s/7tbwfcgbcincdi1/gale_amfic_freqs.zip?dl=1)          | ‚òÇÔ∏è                                                                             |                                                                        | ‚òÇÔ∏è                                                                      |
| GildedAge           | [U.S. Fiction of the Gilded Age](https://doi.org/10.1093/llc/fqv066)                                                                                                      | Academic                                                                    | [üåû](https://www.dropbox.com/s/fg605k0cnebf70i/gildedage_metadata.zip?dl=1)           | [üåû](https://www.dropbox.com/s/i5zjhil743rm907/gildedage_freqs.zip?dl=1)           |                                                                               |                                                                        |                                                                        |
| Hathi               | [Hathi Trust Research Center](https://www.hathitrust.org/)                                                                                                                | Academic                                                                    | [üåû](https://www.dropbox.com/s/0bj4oxko6s6zaos/hathi_metadata.zip?dl=1)               |                                                                                    |                                                                               |                                                                        |                                                                        |
| HathiAlmanacs       | [Hathi Trust volumes with "almanac(k/ch)" in title](https://catalog.hathitrust.org/Search/Home)                                                                           | Academic                                                                    | [üåû](https://www.dropbox.com/s/el2hc45tauwzskc/hathi_almanacs_metadata.zip?dl=1)      | [üåû](https://www.dropbox.com/s/xihowiox9lu7cc9/hathi_almanacs_freqs.zip?dl=1)      |                                                                               |                                                                        |                                                                        |
| HathiBio            | [Biographies from Hathi Trust](https://www.ideals.illinois.edu/handle/2142/99554)                                                                                         | Academic                                                                    | [üåû](https://www.dropbox.com/s/wth2i53gg0tq18a/hathi_bio_metadata.zip?dl=1)           | [üåû](https://www.dropbox.com/s/3jq8rjtpec4a6g9/hathi_bio_freqs.zip?dl=1)           |                                                                               |                                                                        |                                                                        |
| HathiEngLit         | [Fiction, drama, verse word frequencies from Hathi Trust](https://wiki.htrc.illinois.edu/display/COM/Word+Frequencies+in+English-Language+Literature)                     | Academic                                                                    | [üåû](https://www.dropbox.com/s/gnwuwkpy4jybr5r/hathi_englit_metadata.zip?dl=1)        | [üåû](https://www.dropbox.com/s/jm858ej78x7h0vk/hathi_englit_freqs.zip?dl=1)        |                                                                               |                                                                        |                                                                        |
| HathiEssays         | [Hathi Trust volumes with "essay(s)" in title](https://catalog.hathitrust.org/Search/Home)                                                                                | Academic                                                                    | [üåû](https://www.dropbox.com/s/9s7vpe7bhqo86ic/hathi_essays_metadata.zip?dl=1)        | [üåû](https://www.dropbox.com/s/j1kppdj2h9t20fp/hathi_essays_freqs.zip?dl=1)        |                                                                               |                                                                        |                                                                        |
| HathiLetters        | [Hathi Trust volumes with "letter(s)" in title](https://catalog.hathitrust.org/Search/Home)                                                                               | Academic                                                                    | [üåû](https://www.dropbox.com/s/11lajafcunypul2/hathi_letters_metadata.zip?dl=1)       | [üåû](https://www.dropbox.com/s/e7b07d5tlkfj9sw/hathi_letters_freqs.zip?dl=1)       |                                                                               |                                                                        |                                                                        |
| HathiNovels         | [Hathi Trust volumes with "novel(s)" in title](https://catalog.hathitrust.org/Search/Home)                                                                                | Academic                                                                    | [üåû](https://www.dropbox.com/s/hurtnwujziwusqz/hathi_novels_metadata.zip?dl=1)        | [üåû](https://www.dropbox.com/s/yxpur1zvvbp7cwp/hathi_novels_freqs.zip?dl=1)        |                                                                               |                                                                        |                                                                        |
| HathiProclamations  | [Hathi Trust volumes with "proclamation(s)" in title](https://catalog.hathitrust.org/Search/Home)                                                                         | Academic                                                                    | [üåû](https://www.dropbox.com/s/enksc8u5bqukc24/hathi_proclamations_metadata.zip?dl=1) | [üåû](https://www.dropbox.com/s/0wzzfcd4qeb17ed/hathi_proclamations_freqs.zip?dl=1) |                                                                               |                                                                        |                                                                        |

In [44]:
# !pip uninstall lltk-dh -U

In [45]:
C2 = lltk.load('Chicago')

In [46]:
C2.meta

,author,title,year,alt_first,auth_first,auth_id,auth_last,book_id,canon,class,...,religion,secondary_occupation,sexual_identity,source,written_as,path_freqs,path_txt,path_xml,_year_orig,corpus
id,,,,,,,,,,,,,,,,,,,,,
00000001,"Adams, Henry",Democracy,1880,,Henry,A_00017,Adams,1,,,...,,Historian,,g,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,1880,Chicago
00000003,"Aldrich, Thomas Bailey",The Stillwater tragedy,1880,,Thomas Bailey,A_00034,Aldrich,3,,,...,,Editor,,g,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,1880,Chicago
00000013,"Burnett, Frances Hodgson",Louisiana,1880,,Frances Hodgson,A_00486,Burnett,13,,,...,,,,g,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,1880,Chicago
00000015,"Cable, George Washington",The Grandissimes,1880,,George Washington,A_00512,Cable,15,,,...,,,,g,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,1880,Chicago
00000021,"Douglas, Amanda M.",Hope Mills: or: Between friend and sweetheart,1880,,Amanda M.,A_00984,Douglas,21,,,...,Episcopal,,,g,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,1880,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
00026229,"Weis, Margaret",Dragons of winter night,2000,,Margaret,A_03554,Weis,26229,,,...,,,,k,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,2000,Chicago
00026230,"Wells, Ken",Meely LaBauve,2000,,Ken,A_04636,Wells,26230,,,...,,,,k,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,2000,Chicago
00026231,"Wilhelm, Kate",The deepest water,2000,,Kate,A_03628,Wilhelm,26231,,,...,,,,k,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,2000,Chicago
00026232,"Woods, Stuart",The run,2000,,Stuart,A_03705,Woods,26232,,,...,,,,k,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,2000,Chicago
00026233,"Youngblood, Shay",Black girl in Paris,2000,,Shay,A_04538,Youngblood,26233,,,...,,Professor,Lesbian,k,,/Users/tobywarner/lltk_data/corpora/chicago/fr...,/Users/tobywarner/lltk_data/corpora/chicago/tx...,/Users/tobywarner/lltk_data/corpora/chicago/xm...,2000,Chicago

In [47]:
from aws import *

In [48]:
C = get_corpus()

In [49]:
C.meta

,author,title,year,fn,have,number,genre,anthology,originallanguage,translator,editor,gender,nationality,origpubdate,note,path_freqs,path_txt,path_xml,_year_orig,corpus
id,,,,,,,,,,,,,,,,,,,,
AWS010,"Equiano, Olaudah",Equiano's Travels: His Autobiography; The Inte...,1966,AWS010.txt,yes,10,autobio,no,English,,Olaudah Equiano,,Benin,1789.0,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1966,AWS
AWS020,"Gatheru, Mugo",Child of Two Worlds.,1966,AWS020.txt,yes,20,autobio,no,English,,,male,Kenya,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1966,AWS
AWS228,"Hussein, Taha",An Egyptian Childhood: the autobiography of Ta...,1981,AWS228.txt,yes,228,autobio,no,Arabic,E. H. Paxton,,male,Egypt,,Translated by E. H. Paxton.,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1981,AWS
AWS244,"Ya-Otto, John",Battlefront Namibia: an autobiography,1982,AWS244.txt,yes,244,autobio,no,English,,"Ole Gjerstad, Michael Mercer",male,Namibia,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1982,AWS
AWS249,"Obasanjo, Olusegun",My Command: An Account of the Nigerian Civil W...,1981,AWS249.txt,yes,249,autobio,no,English,,,male,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1981,AWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AWS216,"Yirenkyi, Asiedu",Kivuli and other plays.,1980,AWS216.txt,yes,216,theatre,no,English,,,male,Ghana,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1980,AWS
AWS232,"Johnson-Davies, Denys (ed.)",Egyptian One-act Plays.,1981,AWS232.txt,yes,232,theatre,no,Arabic,Denys Johnson-Davies,Denys Johnson-Davies,,Egypt,,Selected and translated from the Arabic by Den...,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1981,AWS
AWS264,"De Graft, Joe",Muntu.,1977,AWS264.txt,yes,264,theatre,no,English,,,male,Ghana,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1977,AWS
AWS133,"Mukasa, Ham",Sir Apolo Kagwa Discovers Britain.,1975,AWS133.txt,yes,133,travel,no,Luganda,Ernest Millar,,male,Uganda,1902.0,Edited by Taban lo Liyong. (First published in...,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1975,AWS
AWS109,"Obiechina, Emmanuel N.",Onitsha Market Literature.,1972,AWS109.txt,yes,109,market_lit,yes,English,,,,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1972,AWS

In [65]:
C3 = lltk.load('MarkMark')

[MarkMark] !! No metadata file exists at /Users/tobywarner/lltk_data/corpora/markmark/metadata.csv
[MarkMark] !! No metadata file exists at /Users/tobywarner/lltk_data/corpora/markmark/metadata.csv
[MarkMark] Downloading markmark_metadata.zip to ~/lltk_data/corpora/lltk_corpora/markmark_metadata.zip: 22KB [00:00, 2460.53KB/s]
[MarkMark] Unzipping markmark_metadata.zip to ~/lltk_data/corpora/markmark: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00, 414.25it/s]
[MarkMark] Downloading markmark_freqs.zip to ~/lltk_data/corpora/lltk_corpora/markmark_freqs.zip: 17870KB [00:02, 8330.25KB/s]
[MarkMark] Unzipping markmark_freqs.zip to ~/lltk_data/corpora/markmark: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 355/355 [00:00<00:00, 839.53it/s]

In [50]:
#dtm_tfidf = C.dtm(tf=True, excl_stopwords=True)

In [51]:
#dtm_tfidf

## Let's try to compare corpora - AWS vs Chicago

In [52]:
dtm1 = C.dtm()

In [53]:
dtm2 = C2.dtm()

In [54]:
dtm1['corpus']='AWS'
dtm2['corpus']='CHI'

In [55]:
dtm = dtm1.append(dtm2)

In [95]:
balanced = dtm.groupby('corpus').sample(n=100)

In [96]:
from lltk.model.classifier import Classifier
clf = Classifier(balanced1)

In [97]:
clf.classify('corpus')

In [98]:
clf.report()

## Report for Model (Classifier)
              precision    recall  f1-score   support

         AWS       0.91      0.97      0.94       100
          MM       0.97      0.90      0.93       100

    accuracy                           0.94       200
   macro avg       0.94      0.94      0.93       200
weighted avg       0.94      0.94      0.93       200

In [99]:
clf.dfr

                                   pred      prob true  correct  support
id
AWS123                              AWS  0.004783  AWS        1      200
AWS016                              AWS  0.007089  AWS        1      200
AWS081                              AWS  0.008295  AWS        1      200
AWS130                              AWS  0.009679  AWS        1      200
AWS196                              AWS  0.012490  AWS        1      200
...                                 ...       ...  ...      ...      ...
DeLillo,_Don.Underworld              MM  1.000000   MM        1      200
Hubbard,_L._Ron.Battlefield_Earth    MM  1.000000   MM        1      200
Jones,_James.From_Here_to_Eternity   MM  1.000000   MM        1      200
Rand,_Ayn.Atlas_Shrugged             MM  1.000000   MM        1      200
Pynchon,_Thomas.Gravity's_Rainbow    MM  1.000000   MM        1      200

[200 rows x 5 columns]

In [100]:
clf.dfc

                feat     coeff
3435     performance -0.019588
3445   neighbourhood -0.017444
1282          fallen -0.012246
1384            blow -0.011494
377      publication -0.011173
...              ...       ...
15752       lumbered  0.014627
15890   precipitated  0.016378
8211        brutally  0.016861
10429         pacify  0.016893
7939        plotting  0.024735

[16263 rows x 2 columns]

In [101]:
topfeats_df = clf.dfc.head(25).set_index('feat')
topfeats_df

                  coeff
feat
performance   -0.019588
neighbourhood -0.017444
fallen        -0.012246
blow          -0.011494
publication   -0.011173
published     -0.011172
begged        -0.010987
writers       -0.010906
planted       -0.009904
document      -0.009852
o'clock       -0.009639
shrieking     -0.009597
indians       -0.009314
unable        -0.009034
series        -0.008995
persuade      -0.008941
bright        -0.008911
suggesting    -0.008880
towards       -0.008856
centre        -0.008819
pipe          -0.008806
database      -0.008635
village       -0.008588
boiling       -0.008408
directly      -0.008291

## Here is AWS vs MM

In [66]:
dtm3 = C.dtm()

In [67]:
dtm4 = C3.dtm()

Computing most frequent words across all texts [x7]: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 355/355 [00:09<00:00, 35.53it/s]
[MarkMark] Assembling document-term matrix (DTM) [x7]: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 355/355 [00:05<00:00, 65.52it/s]

In [68]:
dtm3['corpus']='AWS'
dtm4['corpus']='MM'

In [69]:
dtm_MM_AWS = dtm3.append(dtm4)

In [73]:
dtm_MM_AWS

,the,and,to,of,a,he,in,was,you,that,...,inaccurate,instants,darning,ruffles,transmitting,self-satisfied,slopped,epithet,corks,believable
id,,,,,,,,,,,,,,,,,,,,,
AWS001,3196,1916,1382,1225,1076,1034.0,825,1047.0,381.0,571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS002,2020,1012,691,649,786,851.0,441,443.0,465.0,289.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS003,2328,1091,1429,964,1119,1257.0,836,984.0,585.0,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS005,2665,1260,1177,896,1035,991.0,751,818.0,668.0,440.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS006,3516,3101,1246,980,1191,1369.0,757,1082.0,983.0,487.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"de_Lint,_Charles.Trader",7258,3041,4672,2868,3287,1392.0,1906,1748.0,1954.0,1886.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"de_Lint,_Charles.Yarrow",4489,1731,2209,1650,1862,1776.0,1154,1594.0,695.0,1082.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"du_Maurier,_Daphne.Rebecca",8788,4821,3631,3011,3019,2165.0,2320,2331.0,2335.0,1487.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"du_Maurier,_Daphne.The_King's_General",7893,5029,3701,2832,2544,1866.0,2214,1658.0,1171.0,1409.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"le_Carr√©,_John.The_Spy_Who_Came_In_from_the_Cold",3646,1619,1480,1384,1652,1614.0,1028,1169.0,1250.0,884.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
balanced1 = dtm_MM_AWS.groupby('corpus').sample(n=100)
balanced1

,the,and,to,of,a,he,in,was,you,that,...,inaccurate,instants,darning,ruffles,transmitting,self-satisfied,slopped,epithet,corks,believable
id,,,,,,,,,,,,,,,,,,,,,
AWS020,4488,2501,2669,1962,1732,813.0,1687,1709.0,295.0,994.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS109,981,461,347,620,240,24.0,321,34.0,10.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS185,3309,1956,1727,1045,1091,962.0,1058,941.0,900.0,557.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS133,3873,3302,1830,1583,1388,670.0,1090,662.0,310.0,525.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS139,3454,1471,1693,1404,1435,610.0,1048,1240.0,455.0,579.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Waugh,_Evelyn.Brideshead_Revisited",5563,3230,2838,2792,2622,1583.0,1982,1664.0,1586.0,1213.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
"Hamilton,_Laurell_K..Guilty_Pleasures",4267,1835,2265,1362,2156,1611.0,931,1814.0,1512.0,788.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Rhys,_Jean.Wide_Sargasso_Sea",2042,1702,1031,638,923,455.0,537,792.0,875.0,616.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Winsor,_Kathleen.Forever_Amber",14374,13766,9631,7088,8339,5248.0,4300,5462.0,4363.0,3991.0,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0
"Burroughs,_William_S..The_Ticket_that_Exploded",3476,1654,1002,1701,1385,466.0,1351,285.0,764.0,404.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
from lltk.model.classifier import Classifier
clf_2 = Classifier(balanced1)

In [90]:
clf_2.classify('corpus')

In [91]:
clf_2.report()

## Report for Model (Classifier)
              precision    recall  f1-score   support

         AWS       0.88      0.99      0.93       100
          MM       0.99      0.86      0.92       100

    accuracy                           0.93       200
   macro avg       0.93      0.93      0.92       200
weighted avg       0.93      0.93      0.92       200

In [92]:
clf_2.dfr

                                   pred      prob true  correct  support
id
AWS123                              AWS  0.003353  AWS        1      200
AWS196                              AWS  0.005953  AWS        1      200
AWS016                              AWS  0.006491  AWS        1      200
AWS081                              AWS  0.008553  AWS        1      200
AWS220                              AWS  0.008883  AWS        1      200
...                                 ...       ...  ...      ...      ...
Hubbard,_L._Ron.Battlefield_Earth    MM  1.000000   MM        1      200
Jones,_James.From_Here_to_Eternity   MM  1.000000   MM        1      200
DeLillo,_Don.Underworld              MM  1.000000   MM        1      200
Rand,_Ayn.Atlas_Shrugged             MM  1.000000   MM        1      200
Pynchon,_Thomas.Gravity's_Rainbow    MM  1.000000   MM        1      200

[200 rows x 5 columns]

In [93]:
clf_2.dfc

                feat     coeff
3435     performance -0.019531
3445   neighbourhood -0.017419
1282          fallen -0.012178
1384            blow -0.011561
717        published -0.011230
...              ...       ...
15752       lumbered  0.014526
15890   precipitated  0.016280
8211        brutally  0.016670
10429         pacify  0.016837
7939        plotting  0.024439

[16263 rows x 2 columns]

In [94]:
topfeats_df_2 = clf_2.dfc.head(25).set_index('feat')
topfeats_df_2

                  coeff
feat
performance   -0.019531
neighbourhood -0.017419
fallen        -0.012178
blow          -0.011561
published     -0.011230
publication   -0.011215
writers       -0.011042
begged        -0.010965
planted       -0.009923
document      -0.009901
o'clock       -0.009823
shrieking     -0.009635
indians       -0.009274
series        -0.009046
unable        -0.009019
bright        -0.008978
suggesting    -0.008939
centre        -0.008903
persuade      -0.008864
towards       -0.008845
pipe          -0.008828
database      -0.008667
village       -0.008629
boiling       -0.008430
directly      -0.008279

## Let's try to classify with just the novels in AWS

In [105]:
# how many novels?
smpl=C.meta.query('genre=="novel"')
smpl

,author,title,year,fn,have,number,genre,anthology,originallanguage,translator,editor,gender,nationality,origpubdate,note,path_freqs,path_txt,path_xml,_year_orig,corpus
id,,,,,,,,,,,,,,,,,,,,
AWS001,"Achebe, Chinua",Things Fall Apart,1962,AWS001.txt,yes,1,novel,no,English,,,male,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1962,AWS
AWS002,"Ekwensi, Cyprian",Burning Grass: a story of the Fulani of Northe...,1962,AWS002.txt,yes,2,novel,no,English,,,male,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1962,AWS
AWS003,"Achebe, Chinua",No Longer at Ease. Illustrated by Bruce Onobra...,1963,AWS003.txt,yes,3,novel,no,English,,,male,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1963,AWS
AWS005,"Ekwensi, Cyprian",People of the City. Revised edition. (Original...,1963,AWS005.txt,yes,5,novel,no,English,,,male,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1963,AWS
AWS006,"Abrahams, Peter",Mine Boy. Illustrated by Ruth Yudelowitz. (Lon...,1963,AWS006.txt,yes,6,novel,no,English,,,male,South Africa,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1963,AWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AWS248,"B√¢, Mariama",So long a letter. Translated from the French S...,1981,AWS248.txt,yes,248,novel,no,French,,,female,Senegal,1979.0,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1981,AWS
AWS250,"Ousmane, Semb√®ne",The Last of the Empire.,1981,AWS250.txt,yes,250,novel,no,French,,,male,Senegal,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1981,AWS
AWS255,"Iroh, Eddie",The Siren in the Night.,1982,AWS255.txt,yes,255,novel,no,English,,,male,Nigeria,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1982,AWS
AWS262,"Nagenda, John",The Seasons of Thomas Tebo.,1986,AWS262.txt,yes,262,novel,no,English,,,male,Uganda,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1986,AWS
AWS263,"Serote, Mongane",To Every Birth its Blood.,1983,AWS263.txt,yes,263,novel,no,English,,,male,South Africa,,,/Users/tobywarner/lltk_data/corpora/aws/freqs/...,/Users/tobywarner/Dropbox/textmining/corpora/a...,/Users/tobywarner/lltk_data/corpora/aws/xml/AW...,1983,AWS

In [110]:
#dtm for just novels
aws_novels_dtm = C.dtm(
    texts=[t for t in C.texts() if t.genre=='novel']
)

Computing most frequent words across all texts [x7]: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 107/107 [00:04<00:00, 21.42it/s]
[AWS] Assembling document-term matrix (DTM) [x7]: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106/106 [00:04<00:00, 25.84it/s]

In [111]:
aws_novels_dtm

,the,to,and,of,a,he,in,was,you,that,...,characterise,leavers,senator,adamantly,diets,have-nots,municipalities,overproduction,laissez-faire,non-citizens
id,,,,,,,,,,,,,,,,,,,,,
AWS001,3196,1382,1916,1225,1076,1034,825,1047,381,571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS002,2020,691,1012,649,786,851,441,443,465,289,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS003,2328,1429,1091,964,1119,1257,836,984,585,600,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS005,2665,1177,1260,896,1035,991,751,818,668,440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS006,3516,1246,3101,980,1191,1369,757,1082,983,487,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AWS248,1733,769,666,1058,596,183,503,236,337,258,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS250,5923,2466,1444,2678,2260,1708,1394,985,926,674,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS255,6141,2101,1765,2487,1931,1607,1504,1348,591,996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS262,2208,1195,1351,906,1076,1241,672,991,721,543,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AWS263,4954,2970,2735,1395,1638,1890,1436,2018,1536,1601,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [112]:
dtm4

,the,and,to,of,a,he,in,was,it,that,...,unreasonably,darning,ruffles,transmitting,self-satisfied,slopped,conflagration,epithet,corks,believable
id,,,,,,,,,,,,,,,,,,,,,
"Achebe,_Chinua.Things_Fall_Apart",3179,1915,1376,1217,1071,1034,817,1048,606,572,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Acker,_Kathy.In_Memoriam_to_Identity",3040,1665,2338,1542,1521,994,1049,1183,421,789,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Adams,_Douglas.The_Hitchhiker's_Guide_to_the_Galaxy",2503,1175,1170,1246,1187,804,621,606,892,585,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
"Adams,_Richard.Watership_Down",9507,5449,4647,3461,3361,3116,2066,2235,2026,1807,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Albom,_Mitch.For_One_More_Day",1467,940,749,437,939,262,484,593,516,440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"de_Lint,_Charles.Trader",7258,3041,4672,2868,3287,1392,1906,1748,2325,1886,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"de_Lint,_Charles.Yarrow",4489,1731,2209,1650,1862,1776,1154,1594,1126,1082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"du_Maurier,_Daphne.Rebecca",8788,4821,3631,3011,3019,2165,2320,2331,2486,1487,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"du_Maurier,_Daphne.The_King's_General",7893,5029,3701,2832,2544,1866,2214,1658,1291,1409,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"le_Carr√©,_John.The_Spy_Who_Came_In_from_the_Cold",3646,1619,1480,1384,1652,1614,1028,1169,1086,884,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
dtm5 = aws_novels_dtm

In [114]:
dtm6 = C3.dtm()

In [116]:
dtm5['corpus']='AWS'
dtm6['corpus']='MM'

In [117]:
dtm_novels_merged = dtm5.append(dtm6)

In [118]:
dtm_novels_merged

,the,to,and,of,a,he,in,was,you,that,...,mow,harbored,instants,darning,ruffles,transmitting,slopped,epithet,corks,believable
id,,,,,,,,,,,,,,,,,,,,,
AWS001,3196,1382,1916,1225,1076,1034,825,1047,381,571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS002,2020,691,1012,649,786,851,441,443,465,289,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS003,2328,1429,1091,964,1119,1257,836,984,585,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS005,2665,1177,1260,896,1035,991,751,818,668,440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS006,3516,1246,3101,980,1191,1369,757,1082,983,487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"de_Lint,_Charles.Trader",7258,4672,3041,2868,3287,1392,1906,1748,1954,1886,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"de_Lint,_Charles.Yarrow",4489,2209,1731,1650,1862,1776,1154,1594,695,1082,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"du_Maurier,_Daphne.Rebecca",8788,3631,4821,3011,3019,2165,2320,2331,2335,1487,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"du_Maurier,_Daphne.The_King's_General",7893,3701,5029,2832,2544,1866,2214,1658,1171,1409,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"le_Carr√©,_John.The_Spy_Who_Came_In_from_the_Cold",3646,1480,1619,1384,1652,1614,1028,1169,1250,884,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
balanced2 = dtm_novels_merged.groupby('corpus').sample(n=100)
balanced2

,the,to,and,of,a,he,in,was,you,that,...,mow,harbored,instants,darning,ruffles,transmitting,slopped,epithet,corks,believable
id,,,,,,,,,,,,,,,,,,,,,
AWS001,3196,1382,1916,1225,1076,1034,825,1047,381,571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS237,2655,793,1264,1156,954,283,623,647,416,502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS110,4590,1211,1958,1521,1687,1214,981,664,730,478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS119,2944,1191,862,1411,705,794,678,610,581,732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AWS239,4050,1191,2122,1498,1401,575,797,789,297,496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wells,_H._G..The_War_of_the_Worlds",4775,1173,2489,2297,1605,422,991,850,69,766,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Bowles,_Paul.The_Sheltering_Sky",6379,2537,2563,2206,2125,2121,1631,1681,901,1076,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
"Lewis,_Sinclair.Main_Street",8142,4233,5555,4141,4315,1568,2681,2330,1837,1841,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
"Maugham,_W._Somerset.Of_Human_Bondage",11971,7993,8366,5930,6311,9416,4159,5759,2736,3332,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,3.0,0.0,0.0
"de_Lint,_Charles.Greenmantle",6475,3256,2404,1963,2434,2813,1429,1905,1877,1713,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
from lltk.model.classifier import Classifier
clf_3 = Classifier(balanced2)

In [128]:
clf_3.classify('corpus')

In [129]:
clf_3.report()

## Report for Model (Classifier)
              precision    recall  f1-score   support

         AWS       0.91      0.97      0.94       100
          MM       0.97      0.90      0.93       100

    accuracy                           0.94       200
   macro avg       0.94      0.94      0.93       200
weighted avg       0.94      0.94      0.93       200

In [130]:
clf_3.dfr

                                      pred      prob true  correct  support
id
AWS026                                 AWS  0.003988  AWS        1      200
AWS001                                 AWS  0.007201  AWS        1      200
AWS016                                 AWS  0.010446  AWS        1      200
AWS081                                 AWS  0.010738  AWS        1      200
AWS098                                 AWS  0.010865  AWS        1      200
...                                    ...       ...  ...      ...      ...
Mitchell,_Margaret.Gone_with_the_Wind   MM  1.000000   MM        1      200
Tolkien,_J.R.R..The_Lord_of_the_Rings   MM  1.000000   MM        1      200
Gaddis,_William.JR                      MM  1.000000   MM        1      200
Gass,_William_H..The_Tunnel             MM  1.000000   MM        1      200
Jones,_James.From_Here_to_Eternity      MM  1.000000   MM        1      200

[200 rows x 5 columns]

In [131]:
clf_3.dfc

              feat     coeff
551    publication -0.031665
1465        appear -0.020533
3579      evenings -0.020062
3387     persisted -0.019331
1054     published -0.018555
...            ...       ...
2495          noon  0.014208
8627        hordes  0.015238
11091     unseeing  0.017372
4145         widow  0.022180
14388       denies  0.024450

[16346 rows x 2 columns]

In [132]:
topfeats_df_3 = clf_3.dfc.head(25).set_index('feat')
topfeats_df_3

                  coeff
feat
publication   -0.031665
appear        -0.020533
evenings      -0.020062
persisted     -0.019331
published     -0.018555
determination -0.016017
series        -0.015157
document      -0.014058
bush          -0.012434
centre        -0.011986
goods         -0.010591
succeeded     -0.010419
relatives     -0.009857
engineer      -0.009754
departure     -0.009535
commonwealth  -0.009376
collected     -0.009016
policemen     -0.008928
cup           -0.008802
college       -0.008688
forehead      -0.008680
angrily       -0.008579
resolved      -0.008561
trip          -0.008545
hut           -0.008522